# Segmenting and Clustering Neighborhoods in Toronto

In this assignment, I will explore, segment, and cluster the neighborhoods in the city of Toronto.

### Retrieving the data

The Wikipedia page with the data...

#### Data scrapping

We will make use of pandas.read_html function, which requires the package lxml, so we will first intall it

In [1]:
!conda install -c anaconda lxml -y

Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python36

  added / updated specs:
    - lxml


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2020.1.1   |                0         132 KB  anaconda
    lxml-4.5.0                 |   py36hefd8a0e_0         1.6 MB  anaconda
    openssl-1.1.1              |       h7b6447c_0         5.0 MB  anaconda
    certifi-2019.11.28         |           py36_0         156 KB  anaconda
    ------------------------------------------------------------
                                           Total:         6.9 MB

The following packages will be UPDATED:

    ca-certificates: 2019.11.27-0         --> 2020.1.1-0           anaconda
    certifi:         2019.11.28-py36_0    --> 2019.11.28-py36_0    anaconda
    lxml:            4.3.1-py36hefd8a0e_0 --> 4.5.0-py36hefd8a0e_0 anaconda
    openssl:         1.1.1d-h7b6447c_3    --> 1.1.1-h7b6447c_0     anaconda


Downloading and Extracting Packages
ca-certificates-2020 | 132 KB    | ##################################### | 100%
lxml-4.5.0           | 1.6 MB    | ##################################### | 100%
openssl-1.1.1        | 5.0 MB    | ##################################### | 100%
certifi-2019.11.28   | 156 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Now we're ready to load the data using Pandas.read_html

In [18]:
import numpy as np
import pandas as pd
import lxml

items = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

Because the function returns a list of all the table candidates whithin the webpage, we need to figure it out which data frame contains the table we need

In [19]:
items

[    Postcode           Borough  \
 0        M1A      Not assigned
 1        M2A      Not assigned
 2        M3A        North York
 3        M4A        North York
 4        M5A  Downtown Toronto
 5        M6A        North York
 6        M6A        North York
 7        M7A  Downtown Toronto
 8        M8A      Not assigned
 9        M9A      Queen's Park
 10       M1B       Scarborough
 11       M1B       Scarborough
 12       M2B      Not assigned
 13       M3B        North York
 14       M4B         East York
 15       M4B         East York
 16       M5B  Downtown Toronto
 17       M5B  Downtown Toronto
 18       M6B        North York
 19       M7B      Not assigned
 20       M8B      Not assigned
 21       M9B         Etobicoke
 22       M9B         Etobicoke
 23       M9B         Etobicoke
 24       M9B         Etobicoke
 25       M9B         Etobicoke
 26       M1C       Scarborough
 27       M1C       Scarborough
 28       M1C       Scarborough
 29       M2C      Not assigned
 ..       ...               ...
 257      M9X      Not assigned
 258      M1Y      Not assigned
 259      M2Y      Not assigned
 260      M3Y      Not assigned
 261      M4Y  Downtown Toronto
 262      M5Y      Not assigned
 263      M6Y      Not assigned
 264      M7Y      East Toronto
 265      M8Y         Etobicoke
 266      M8Y         Etobicoke
 267      M8Y         Etobicoke
 268      M8Y         Etobicoke
 269      M8Y         Etobicoke
 270      M8Y         Etobicoke
 271      M8Y         Etobicoke
 272      M8Y         Etobicoke
 273      M9Y      Not assigned
 274      M1Z      Not assigned
 275      M2Z      Not assigned
 276      M3Z      Not assigned
 277      M4Z      Not assigned
 278      M5Z      Not assigned
 279      M6Z      Not assigned
 280      M7Z      Not assigned
 281      M8Z         Etobicoke
 282      M8Z         Etobicoke
 283      M8Z         Etobicoke
 284      M8Z         Etobicoke
 285      M8Z         Etobicoke
 286      M9Z      Not assigned

                                          Neighbourhood
 0                                         Not assigned
 1                                         Not assigned
 2                                            Parkwoods
 3                                     Victoria Village
 4                                         Harbourfront
 5                                     Lawrence Heights
 6                                       Lawrence Manor
 7                                         Queen's Park
 8                                         Not assigned
 9                                         Not assigned
 10                                               Rouge
 11                                             Malvern
 12                                        Not assigned
 13                                     Don Mills North
 14                                    Woodbine Gardens
 15                                       Parkview Hill
 16                                             Ryerson
 17                                     Garden District
 18                                           Glencairn
 19                                        Not assigned
 20                                        Not assigned
 21                                          Cloverdale
 22                                           Islington
 23                                        Martin Grove
 24                                    Princess Gardens
 25                                     West Deane Park
 26                                      Highland Creek
 27                                          Rouge Hill
 28                                          Port Union
 29                                        Not assigned
 ..                                                 ...
 257                                       Not assigned
 258                                       Not assigned
 259                                       Not assigned
 260                                       Not assigned
 261                               Church and Wellesley
 262                                       Not assigned
 263                                       Not assigned
 264  Business Reply Mail Processing Centre 969 Eastern
 265                                         Humber Bay
 266                                   King's Mill Park
 267                           Kingsway Park South East
 268                                          Mimico NE
 269                                     Old Mill South
 270                                 The Queensway East
 271                              Royal York South East
 272                                           Sunnylea
 273                                       Not assigned
 274                                       Not assigned
 275                                       Not assigned
 276                                       Not assigned
 277                                       Not assigned
 278                                       Not assigned
 279                                       Not assigned
 280                                       Not assigned
 281                           Kingsway Park South West
 282                                          Mimico NW
 283                                 The Queensway West
 284                              Royal York South West
 285                                     South of Bloor
 286                                       Not assigned

 [287 rows x 3 columns],
                                                   0   \
 0                                                NaN
 1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...
 2                                                 NL
 3                                                  A

                                                   1   \
 0                              Canadian postal codes
 1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...
 2                                                 NS
 3                                                  B

                                                   2    3    4    5    6    7   \
 0                                                NaN  NaN  NaN  NaN  NaN  NaN
 1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...  NaN  NaN  NaN  NaN  NaN
 2                                                 PE   NB   QC   QC   QC   ON
 3                                                  C    E    G    H    J    K

     8    9    10   11   12   13   14   15     16   17
 0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN  NaN
 1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN  NaN
 2   ON   ON   ON   ON   MB   SK   AB   BC  NU/NT   YT
 3    L    M    N    P    R    S    T    V      X    Y  ,
    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15     16  17
 0  NL  NS  PE  NB  QC  QC  QC  ON  ON  ON  ON  ON  MB  SK  AB  BC  NU/NT  YT
 1   A   B   C   E   G   H   J   K   L   M   N   P   R   S   T   V      X   Y]

From the list elements it is the first element the one we need

In [20]:
df = items[0]
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

Now we need to change the column names **Postcode** and **Neighbourhood** to **PostalCode** and **Neighborhood**, respectively

In [21]:
df.columns = ['PostalCode', 'Borough', 'Neighborhood']

We need to remove from the dataframe all the entries with Borough **Not assigned**

In [22]:
df = df[df.Borough != 'Not assigned']
df.head()

  PostalCode           Borough      Neighborhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M6A        North York  Lawrence Heights
6        M6A        North York    Lawrence Manor

When removing the rows, the index has change, so, we need to reset the indexes

In [23]:
df = df.reset_index()
df.head()

   index PostalCode           Borough      Neighborhood
0      2        M3A        North York         Parkwoods
1      3        M4A        North York  Victoria Village
2      4        M5A  Downtown Toronto      Harbourfront
3      5        M6A        North York  Lawrence Heights
4      6        M6A        North York    Lawrence Manor

In the process we have a new column **index**, we need to remove it

In [24]:
df = df.drop('index', axis=1)
df.head()

  PostalCode           Borough      Neighborhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M6A        North York  Lawrence Heights
4        M6A        North York    Lawrence Manor

In order to have one row for one single PostalCode we will combine the Neighborhoods with the same PostalCode

In [30]:
df = df.groupby(['PostalCode', 'Borough'])['Neighborhood'].apply(', '.join).reset_index()
df.head(10)

  PostalCode      Borough                                     Neighborhood
0        M1B  Scarborough                                   Rouge, Malvern
1        M1C  Scarborough           Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough                Guildwood, Morningside, West Hill
3        M1G  Scarborough                                           Woburn
4        M1H  Scarborough                                        Cedarbrae
5        M1J  Scarborough                              Scarborough Village
6        M1K  Scarborough      East Birchmount Park, Ionview, Kennedy Park
7        M1L  Scarborough                  Clairlea, Golden Mile, Oakridge
8        M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village West
9        M1N  Scarborough                      Birch Cliff, Cliffside West

To correct cases where **Neighborhood** wasn't assigned we need to know which are the cases

In [32]:
df[df.Neighborhood == 'Not assigned']

   PostalCode       Borough  Neighborhood
93        M9A  Queen's Park  Not assigned

So, we have exactly one row with this condition, we will assign the Borough name as the Neighborhood name

In [41]:
df.at[93, 'Neighborhood'] = df.at[93, 'Borough']

In [47]:
df.head(10)

  PostalCode      Borough                                     Neighborhood
0        M1B  Scarborough                                   Rouge, Malvern
1        M1C  Scarborough           Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough                Guildwood, Morningside, West Hill
3        M1G  Scarborough                                           Woburn
4        M1H  Scarborough                                        Cedarbrae
5        M1J  Scarborough                              Scarborough Village
6        M1K  Scarborough      East Birchmount Park, Ionview, Kennedy Park
7        M1L  Scarborough                  Clairlea, Golden Mile, Oakridge
8        M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village West
9        M1N  Scarborough                      Birch Cliff, Cliffside West

In [48]:
df.shape

(103, 3)